html{
  min-width: 500px;
  height: 100%;
  background-color: #fff;
}
body{
  background-color: #fff;
}
h3{
  padding: 10px 292px 20px;
  margin-left: 19%;
  color: #e84532;
  font-size: 50px;
  cursor: default;
  text-shadow: 1px 1px 2px black, 0 0 1em red;
}

#search{
  padding: 20px;
  width: 100%;
  background-color: #fff;
}
#search__logo{
  width: 50px;
  vertical-align: middle;
}
#search__field{
  margin-left: 23%;
  width: 54%;
  height: 28px;
  vertical-align: middle;
  font-size: 24px;
  border: 1px solid#8a8a8a;
}
#search__button{
  margin-left: -5px;
  width: 37px;
  height: 32px;
  outline: none;
  border: 1px solid #8a8a8a;
  border-left: white;
  vertical-align: middle;
  background: white url(../img/search.png) no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}