.top-block{
	//position: fixed;
	//left: 150px;
}

.sw{
	float: left;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	margin: 10px;
	text-align: center;
	background-color: aqua;
}

.buttons-block{
	clear: both;
}

.button{
	margin: 10px;
	float: left;
	display: block;
	width: 100px;
	height: 30px;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	line-height: 30px;
	border: 1px solid black;
}


.start{
	background: green;
	clear: both;	
}

.stop{
	display: none;
	background: red;
}

.reset{
	background: #6b919c;
}



.hours,
.secs,
.mins,
.milis{
	margin: 0;
	line-height: 32px;

}

