
body{
  background-color: rgb(94,159,240);;
  font-family: 'Arial';
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

.slider__wrapper{
  height: 455px;
  padding: 30px;
  background: rgb(94,159,240);
}

.slider__container{
  background-color: rgba(255,255,255, 0.5);
  width: 640px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid rgba(150,150,150, 0.1);
  border-radius: 6px;
  box-shadow: 0px 5px 20px;
}

.header__title{
  font-size: 40px;
  font-weight: bold;
  text-shadow: 4px 4px 12px;
}

.select__wrapper{
  width: 1010px;
  margin: 0 auto;
}

.select__form{
  display: block;
  float: left;
  margin-top: 10px;
}

.select__block{
  float: left;
  width: 100px;
  margin: 20px;
}

.checkbox__wrapper{
  display: block;
  float: right;
}

.checkbox__block{
  float: right;
  margin: 20px;
}

.checkbox__css{
  margin: -10px 19px 8px 1px;
  width: 400px;
  display: inline;
}

.checkbox__jquery{
  margin: -16px 0;
  width: 447px;
  display: inline;
  float: right;
}

label{
  font-size: 12px;
}



.menu__container{
  clear: both;
  width: 100%;
  margin-bottom: 195px;
  background: rgb(2, 62, 76);
  font-family: sans-serif;
  font-size: 10px;
}

.menu{
  margin: 0 auto;
  width: 1000px;
  height: 50px;

}

.menu__item{
  position: relative;
  float: left;
  width: 20%;
  height: inherit;
  text-align: center;
}

.submenu,
.submenu2{
  height: 0px;
  overflow: hidden;
}


.submenu__item,
.submenu2__item{
  height: 30px;
  width: 200px;
  background-color: rgb(2, 62, 76);
}


.submenu2{
  position: absolute;
  top: 140px;
  left: 200px;
}

.menu__link{
  display: block;
  height: 50px;
  color: #ddd;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
}

.menu__link:hover{
  color: gray;
}

.footer{
  height: 500px;
  width: 100%;
}


.checkbox__jquery input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.checkbox__jquery label {
  cursor: pointer;
}
.checkbox__jquery label:after {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/checkbox-2.png);
  position: relative;
  top: 3px;
  margin-left: 15px;
}
.checkbox__jquery input[type=checkbox]:checked + label:after {
background-position: 0 -17px;
}
.checkbox__jquery label:hover:after {
background-position: 0 -34px;
}
.checkbox__jquery input[type=checkbox]:checked + label:hover:after {
background-position: 0 -51px;
}


.niceCheck {
width: 17px;
height: 17px;
display: inline-block;
cursor: pointer;
background: url(../img/checkbox-sprite.png);
}

.niceCheck #cb1 {
display: none;
}

.niceCheck #cb2 {
display: none;
}

.niceCheck #cb3 {
display: none;
}